<div class="settings">
  <div class="form-in-authentication">
    <h3 class="names-sectors">
      Личная информация
    </h3>
    <%= form_with scope: :user,  url: user_path(current_user), method: :put, local: true do |f| %>
    <div class="edit-nickname">
      <p class="hint-input">
        Имя пользователя
      </p>
      <%= f.text_field :nickname, :value => current_user.nickname, :class => "input_information" %>
    </div>
    <%= f.submit 'Сохранить изменения', class: 'block-send-information pt-1' %>
    <% end %>
    <div class="account-settings">
      <h3 class="names-sectors">
        Аккаунт
      </h3>
      <hr class="line-sector">
      <%= link_to user_path(current_user), class: 'links-in-setting' do %>
      <div class="flex-between">
        <span>
          <%= image_tag 'icons/heart.png', class: 'imgtag-png' %> Понравившиеся публикации
        </span>
        <i class="fa fa-chevron-right text-right"></i>
      </div>
      <% end %>
      <hr class="line-sector">
      <%= link_to is_private_path(current_user), class: 'links-in-setting' do %>
        <div class="flex-between">
          <span class="d-flex justify-content-start">
            <div class="d-inline-block">
              <%= image_tag 'icons/lock.png', class: 'imgtag-png' %>
            </div>
            <div class="d-inline-block ml-2">Сделать профиль приватным 
            <p class='hint-settings'> Просматривать ваш профиль и посты <br> могут только одобренный вами люди </p>
          </div>
        </span>
        <% if current_user.is_private == false %>
            <%= show_svg('off.svg') %>
          <% else %>
            <%= show_svg('on.svg') %>
          <% end %>
      </div>
    <% end %>
   </div>
   <div>
    <h3 class="names-sectors">Конфиденциальность <br> и безопасность</h3>
    <hr class="line-sector">
    <%= link_to user_path(current_user), class: 'links-in-setting' do %>
    <div class="flex-between">
      <span class="d-flex justify-content-start">
        <div class="d-inline-block"><%= image_tag 'icons/visibility.png', class: 'imgtag-png' %></div>
        <div class="d-inline-block ml-2">Видеть меня по номеру телефона
          <p class='hint-settings'> Другие пользователи могут искать  <br> вас по номеру телефона </p>
        </div>
      </span>
      <%= image_tag 'icons/off.png' %>
    </div>
    <% end %>
    <hr class="line-sector">
    <%= link_to user_path(current_user), class: 'links-in-setting' do %>
    <div class="flex-between">
      <span><%= image_tag 'icons/user.png', class: 'imgtag-png' %> Черный список</span>
      <i class="fa fa-chevron-right text-right"></i>
    </div>
    <% end %>
    <hr class="line-sector">
    <%= link_to edit_user_registration_path(current_user), class: 'links-in-setting reset-password' do %>
    <div class="flex-between">
      <span><%= image_tag 'icons/PIN.png', class: 'imgtag-png' %> Сбросить пароль</span>
      <i class="fa fa-chevron-right text-right"></i>
    </div>
    <% end %>
    <hr class="line-sector">
    <%= link_to registration_path(current_user), class: 'links-in-setting delete-accaunt' do %>
    <div class="flex-between  mb-5">
      <span><%= image_tag 'icons/cross.png', class: 'imgtag-png' %> Удалить аккаунт</span>
      <i class="fa fa-chevron-right text-right"></i>
    </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"> 
      <div class="modal-exit">
        <p class="text-center m-0">Вы уверены, что хотите выйти?</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Отмена", "#", class: 'link-exit no-exit', "data-dismiss" => "modal" %>
        <span class="border-exit"></span>
        <%= link_to "Выйти", destroy_user_session_path, method: :delete,  class: 'link-exit exit' %>
      </div>
    </div>
  </div>
</div>


