<div class="mt-5 container"><% @users.each do |user| %> 
  <div class="d-flex align-items-center justify-content-between ml-5 mr-4 mb-3">
    <%= link_to(user_path(user)) do %>
    <div class="d-flex align-items-center">
      <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: "photo rounded-circle float-center mr-3"%> 
      <% else %>
      <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo rounded-circle float-center  mr-3") %>
      <% end %>
      <div class="nickname_follows">@<%= user.nickname %></div>
    </div>
    <% end %>
    <% if current_user != user %>
    <%= link_to (user.in?(current_user.follows) ? 'Отписаться' : 'Подписаться'), "#", class: "btn-follows", data:{toggle: "modal" ,target: "#exampleModalCenter"} %>
    <% end %>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content"> 
            <div class="modal-exit">
              <p class="text-center m-0">Вы точно хотите отписаться от пользователя?</p>
            </div>
            <div class="modal-footer">
              <%= link_to "Отмена", "#", class: 'link-exit no-exit', "data-dismiss" => "modal" %>
              <span class="border-exit"></span>
              <%= link_to 'Отписаться', follow_toggle_path(user), class: "text-primary nickname_text" %>
            </div>
          </div>
        </div>
      </div>
    
  </div>
  <% end %>
</div>

