
<div class="card" style="width: 20rem;">
	<div class="card-body">
    <% if @user.avatar.attached? %> 
   <div>  <%= image_tag @user.avatar, style: 'width: 250px', class: "text-center img-circular"  %> </div>
   <% if current_user == @user %> 
   <%= link_to 'Delete avatar', delete_avatar_path(@user.avatar.id),
                method: :delete,
                  data: { confirm: 'Are you sure?' } %>
                  <% end %>
   <% else %>
   <%= image_tag("no-foto.png", :alt => "no avatar") %>
   <% end %>
   <h3> <%= @user.phone %> </h3>
 </div>
     <div class="ml-4">
     <p class="btn btn-outline-info"><%= link_to "#{@user.followers.count} - подписчики", followers_user_path(@user) %> </p>
     <p class="btn btn-outline-info"><%= link_to "#{@user.follows.count} - подписки", follows_user_path(@user) %> </p>
   </div>
 <% if current_user == @user %>
 <div class="card-body">
    <%= link_to 'Добавить новый пост', new_post_path, class: "btn btn-primary btn-md mb-1" %>

  <% else %>
    <%= link_to (@user.in?(current_user.follows) ? 'Отписаться' : 'Подписаться'), follow_toggle_path(@user), class: "btn btn-primary btn-md mb-1" %>
   <% end %>

 </div>
</div>

<div class='container' style=" max-width: 800px">

  <% @posts.each do |post| %> 
  <div class="card m-4" style="width: 500px;" id="post">
   <% if post.picture.attached? %> 
   <div>	<%= image_tag post.picture, style: 'width: 500px', class: "text-center"  %> </div>
   <% end %>
   <div class="card-body">
    <h5 class="card-title"><%= post.title %> </h5>
     <li class="list-group-item"><p class="card-text"><%= post.description %> </p></li>
   </div>
   <div class="card-body">
     <% if current_user == @user %>
     <%= link_to 'изменить', edit_post_path(post), class: "btn btn-primary btn-md" %>
     <%= link_to 'удалить', post_path(post), method: :delete, class: "btn btn-primary btn-md", remote: true %>
    <% end %>
   </div>
 </div>
 <% end %>
</div>
