<div class="back_container shadow-sm">
  <div class="container  center-position">
    <div class="container">
      <div class="media-body flex-container"> 
        <div class="card-body position">
          <div class="active_user fa_circle position-relative">
            <% if @user.online? %>
              <i class="fa fa-circle text-success"></i>
            <% else %>
              <i class="fa fa-circle text-transparent"></i>
            <% end %>
          </div>
          <div class="position-relative">
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "photo rounded-circle float-center"%> 
            <% else %>
              <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo rounded-circle float-center") %>
            <% end %>
          </div>
          <% if current_user == @user %> 
            <button type="button" class="close mt-0 h5 position-relative" aria-label="Close">
              <div aria-hidden="true">
                <%= link_to(edit_user_registration_path) do %>
                  <div class="square">
                    <%= show_svg('edit_button.svg') %>
                  </div>
                <% end %>
              </div>
            </button>
          <% else %>
            <button type="button" class="close mb-5 h5 position-relative" aria-label="Close">
              <div aria-hidden="true">
                  <div class="square">
                  </div>
              </div>
            </button>
          <% end %>  
        </div>
        <div class="position-relative user">
          <% if @user.nickname.nil? %>s
              <h6> <%= @user.phone %> </h6>
          <% else %>
              <h6> @<%= @user.nickname %> </h6>
          <% end %>
          <section class="btn-group center-position">
            <div class="text-center pr-1"><%= link_to(followers_user_path(@user)) do %>
              <%= show_svg('friens_icon.svg') %>
                <div class="counter">
                  <p class="count"><%= @user.followers.count %></p>
                  <p> подписчиков </p>
                </div>
              <% end %>
            </div>
            <%= show_svg('line3.svg') %>
            <div class="text-center pl-1 pr-1"><%= link_to(follows_user_path(@user)) do %>
              <%= show_svg('friens_icon_2.svg') %>
                <div class="counter">
                  <p class="count"><%= @user.follows.count %></p>
                  <p> подписки </p>
                </div>
              <% end %>
            </div>
            <%= show_svg('line3.svg') %>
            <div class="text-center pl-1"><%= link_to(user_path(@user)) do %>
              <%= show_svg('tenge_icon_active.svg') %>
                <div class="counter">
                  <p class="count"><%=  @user.liked_posts.count %></p>
                  <p> бонусов </p>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <% if current_user == @user %>
    <section class="container">
      <div class="new_post">
        <div class="avatar_mini">
          <div>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "photo_mini rounded-circle float-center"%> 
            <% else %>
              <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo_mini rounded-circle float-center") %>
            <% end %>
          </div>
        </div>
        <div class="post_write pb-2 pl-2">
          <%= form_with url: posts_path, scope: :post, local: true do |f| %>
            <%= f.text_field :description, placeholder: 'Расскажите что-нибудь народу. Напишите пост;)', type: "text"; %>
            <%f.file_field :picture %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <% f.submit %> 
          <% end %>
        </div>          
      </div>
    </section>
  <% end %> 
  <% if current_user != @user %>
    <div class="container padding_bot flex-container">
      <% if @user.in?(current_user.follows) %>
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="text-white btn btn-primary btn-md mb-1 ml-1 gradient pl-4 pr-4">
          Отписаться
        </a>
      <% else %>
        <%= link_to 'Подписаться', follow_toggle_path(@user), class: "text-white btn btn-primary btn-md mb-1 ml-1 gradient pl-4 pr-4" %>
      <% end %>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content"> 
            <div class="modal-exit">
              <p class="text-center m-0">Вы точно хотите отписаться от пользователя?</p>
            </div>
            <div class="modal-footer">
              <%= link_to "Отмена", "#", class: 'link-exit no-exit', "data-dismiss" => "modal" %>
              <span class="border-exit"></span>
              <%= link_to 'Отписаться', follow_toggle_path(@user), class: "text-primary nickname_text" %>
            </div>
          </div>
        </div>
      </div>

    </div>
  <% end %>  
  <% @posts.each do |post| %>
    <section class='container mt-2 mb-2'>
      <div class="card">
        <div>
          <% if current_user == @user %>
            <div class="dropdown">
              <button class="dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'изменить', edit_post_path(post), class: "dropdown-item" %>
                <%= link_to 'удалить', post_path(post), method: :delete, class: "dropdown-item", remote: true %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="post_section">
            <div class="pl-2 pr-2">
              <div class="position-relative pl-2">
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, class: "photo rounded-circle float-center" %> 
                <% else %>
                  <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo rounded-circle float-center") %>
                <% end %>
              </div>
            </div>
            <div>
              <div class="post_section">
                <p class="nickname_text">
                  <% if @user.nickname.nil? %>
                    <%= @user.phone %>
                  <% else %>
                    @<%= @user.nickname %>
                  <% end %>
                </p>
                <p class="time post_writed">| <%= post.created_at.strftime("%d %m %Y %H : %M") %></p>
              </div>
              <div class="wrap">
                <div class="card-text post_writed text_wrap"><%= post.description %> </div>
              </div>
              <div>
                <div class="card border-0 align-self-center mt-">     
                  <% if post.attachment.attached? %>
                    <% if post.attachment.content_type.include?("image") %>
                      <div class="card_body"> <%= image_tag post.attachment, class: "image text-center"  %> </div>
                    <% else %>
                      <%= video_tag url_for(post.attachment), :controls => true , class: "video" %>
                    <% end %>
                  <% end %>
                </div>
                <div class="card-body border-0 align-self-center">
                  <div class="post_section pt-3">
                    <div class="post_section mr-1">
                      <p class="icon_text">
                        <%= show_svg('comment.svg') %>
                        <%= post.comments.count %> комментариев 
                      </p>            
                    </div>
                    <div class="pr-1"> 
                      <%= show_svg('line.svg') %>
                    </div>
                    <div class="post_section">
                      <%= link_to(likes_toggle_path(post)) do %>
                        <p class="icon_text"> 
                          <% if post.likes.ids.include?(current_user.id) %>
                            <%= show_svg('tenge_active.svg') %>
                          <% else %>
                            <%= show_svg('tenge_grey.svg') %>
                          <% end %>
                          <%= post.likes.count %> лайкбонусов
                        </p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </section>
  <% end %>
  <div class="container text-center pb-2 pt-2">
    <div class="text-center pb-1">   
      <%= show_svg('smile.svg') %>
    </div> 
    <p class="smile">Пиши исчо, постов больше нет</p>
  </div>
</div>