<div class="back_container shadow-sm">
<div class="user_show container">
  <div class="center-position about_user">
    <div class="">
      <div class="media-body flex-container"> 
        <div class="card-body position">
          <div class="position-relative">
          <div class="active_user fa_circle position-relative">
            <% if @user.online? %>
              <i class="fa fa-circle text-success"></i>
            <% else %>
              <i class="fa fa-circle text-danger"></i>
            <% end %>
          </div>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "photo rounded-circle float-center"%> 
            <% else %>
              <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo rounded-circle float-center") %>
            <% end %>
          </div>
          <% if current_user == @user %> 
            <button type="button" class="close mt-0 h5 position-relative" aria-label="Close">
              <div aria-hidden="true">
                <%= link_to(edit_user_registration_path) do %>
                  <div class="square">
                    <span class="none-desktop pr-3"> <%= show_svg('edit_button_mobile.svg') %></span>
                    <span class="none-mobile pr-4"><%= show_svg('edit_button.svg') %></span>
                   
                  </div>
                <% end %>
              </div>
            </button>
          <% end %>  
        </div>
        <div class="user">
          <% if @user.nickname.nil? %>s
              <h6> <%= @user.phone %> </h6>
          <% else %>
              <h6 > @<%= @user.nickname %> </h6>
          <% end %>
          <section class="btn-group center-position">
            <div class="text-center blocks_under_avatar"><%= link_to(followers_user_path(@user)) do %>
              <%= show_svg('friens_icon.svg') %>
                <div class="counter">
                  <p class="count"><%= @user.followers.count %></p>
                  <p class="counter"> подписчиков </p>
                </div>
              <% end %>
            </div>
            <%= show_svg('line3.svg') %>
            <div class="text-center blocks_under_avatar"><%= link_to(follows_user_path(@user)) do %>
              <%= show_svg('friens_icon_2.svg') %>
                <div class="counter">
                  <p class="count"><%= @user.follows.count %></p>
                  <p class="counter"> подписки </p>
                </div>
              <% end %>
            </div>
            <%= show_svg('line3.svg') %>
            <div class="text-center blocks_under_avatar"><%= link_to(user_path(@user)) do %>
              <%= show_svg('tenge_icon_active.svg') %>
                <div class="counter">
                  <p class="count"><%=  @user.liked_posts.count %></p>
                  <p class="counter"> бонусов </p>
                </div>
              <% end %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div>
  <% if current_user == @user %>
    <section class="container ">
      <div class="new_post form_in_users_show">
        <div class="avatar_mini">
          <div>
            <% if @user.avatar.attached? %>
              <%= image_tag @user.avatar, class: "photo_mini rounded-circle float-center"%> 
            <% else %>
              <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo_mini rounded-circle float-center") %>
            <% end %>
          </div>
        </div>
        <div class="post_write">
          <%= form_with url: posts_path, scope: :post, local: true do |f| %>
            <%= f.text_field :description, placeholder: 'Расскажите что-нибудь народу. Напишите пост;)', type: "text", class: 'form-control', autocomplete: "off" %>
            <%f.file_field :picture %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <% f.submit %> 
          <% end %>
        </div>          
      </div>
    </section>
  <% end %> 
  <% if current_user != @user %>
    <div class="container padding_bot flex-container">
      <% if @user.in?(current_user.follows) %>
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="unsubscribe">
          Отписаться
        </a>
      <% else %>
        <% if current_user != @user %>
          <%= link_to 'Подписаться', follow_toggle_path(@user), class: "send-information m-0" %>
        <% end %>
      <% end %>

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content"> 
            <div class="modal-exit">
              <p class="text-center m-0">Вы точно хотите отписаться от пользователя?</p>
            </div>
            <div class="modal-footer">
              <%= link_to "Отмена", "#", class: 'link-exit no-exit', "data-dismiss" => "modal" %>
              <span class="border-exit"></span>
              <%= link_to 'Отписаться', follow_toggle_path(@user), class: "text-primary link-exit" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>  
  <div class="users_posts">
  <% if current_user ==@user || current_user != @user && @user.is_private == false || (@user.is_private == true && @user.followers.include?(current_user) == true)%>
    <% @posts.each do |post| %>
      <section class='container mt-2 mb-2'>
        <div class="card">
          <div>
            <% if current_user == @user %>
              <div class="dropdown">
                <button class="dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to 'изменить', edit_post_path(post), class: "dropdown-item" %>
                  <%= link_to 'удалить', post_path(post), method: :delete, class: "dropdown-item", remote: true %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="card-body">
            <div class="post_section">
              <div class="pr-2">
                <div class="position-relative pl-2">
                  <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, class: "avatar_in_post rounded-circle float-center" %> 
                  <% else %>
                    <%= image_tag("no-foto.png", :alt => "no avatar", class: "avatar_in_post rounded-circle float-center") %>
                  <% end %>
                </div>
              </div>
              <div>
                <div class="post_section">
                  <p class="nickname_text mb-1 pr-1">
                    <% if @user.nickname.nil? %>
                      <%= @user.phone %>
                    <% else %>
                      @<%= @user.nickname %>
                    <% end %>
                  </p>
                  <p class="time post_writed"><span class="pr-2 pl-2"><%= show_svg('line2.svg') %></span> <%= post.created_at.strftime("%d.%m.%Y, %H:%M") %></p>
                </div>
                <div class="wrap">
                  <div class="card-text post_writed text_wrap"><%= render_with_hashtags(post.description) %> </div>
                </div>
                <div>
                  <div class="">     
                    <% if post.attachment.attached? %>
                      <% if post.attachment.content_type.include?("image") %>
                        <div class="card_body"> <%= image_tag post.attachment, class: "image text-center"  %> </div>
                      <% else %>
                        <%= video_tag url_for(post.attachment), :controls => true , class: "video" %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="under_post_section border-0 align-self-center">
                    <div class="post_section mobile_post_section">
                      <div class="comments">
                      <%= link_to(post_path(post)) do %>
                        <p class="icon_text text-center">
                          <span class="none-mobile"><%= show_svg('comment.svg') %></span>
                          <span class="none-desktop"><%= show_svg('comment _mobile.svg') %></span>
                          <%= post.comments.count %> <span class="none-mobile">комментариев</span> 
                        </p> 
                      <% end %>            
                      </div>
                      <div class="likes">
                        <%= link_to(likes_toggle_path(post)) do %>
                          <p class="icon_text  text-center"> 
                            <% if post.likes.ids.include?(current_user.id) %>
                            <span class="none-mobile"><%= show_svg('tenge_active.svg') %></span>
                            <span class="none-desktop"><%= show_svg('tenge_acktive_mobile.svg') %></span>
                            <% else %>
                            <span class="none-mobile"><%= show_svg('tenge_mobile.svg') %></span>
                            <span class="none-desktop"><%= show_svg('tenge_mobile.svg') %></span>
                            <% end %>
                            <%= post.likes.count %> <span class="none-mobile">лайкбонусов</span>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </section>
    <% end %>
    <div class="container text-center pb-2 pt-2">
      <div class="text-center pb-1">   
        <%= show_svg('smile.svg') %>
      </div> 
      <p class="smile">Пиши исчо, постов больше нет</p>
    </div>
  <% elsif current_user != @user && (@user.is_private == true && @user.followers.include?(current_user) == false ) %>
    <% nil %>
  <% end %>
  </div>
  </div>
  </div>
</div>