<div class="text-center start_page">
  <h3 class="greeting text-center m-auto">Добро пожаловать в Tengri social!</h3>
  <div id="phone_error" class="text-info h6 mb-3 d-none">Телефон должен состоять из 10 символов</div>
  <%= form_with url: authentication_look_for_path(@phone), local: true do |f| %>
  <div class="field border border-info form_for_phone m-auto text-left">
    <p class="phonenumber text-left m-0">Номер телефона</p>
    +7 <%= f.telephone_field :phone, data: { mask: '999) 999-9999' }, :class => "input_phone" %>
  </div>
  <%= f.submit 'Продолжить', class: 'send-phone' %>
  <% end %>
  <div class="privacy_consent m-auto text-left">
    Я соглашаюсь с <%= link_to "документами и правилами" , root_path %> и понимаю политику <%= link_to "конфиденциальности" , root_path %>
  </div>
</div>