<div class="start_page">
  <div class="form-in-authentication">
    <h3 class="greeting">Добро пожаловать в <br>Tengri social!</h3>
    <%= form_with url: authentication_look_for_path(@phone), local: true do |f| %>
    <div class="input_for_form">
      <p class="phonenumber">Номер телефона</p>
      <p class="phone-mask">+7 <%= f.telephone_field :phone, :class => "input_phone", autofocus: true, :data=> {:mask=> '9999999999'} %></p>
    </div>
    <%= f.submit 'Продолжить', class: 'block-send-information' , :disabled => true, :id => 'submit', :maxlength => 10 %>
    <% end %>
    <div class="registration-agreement">
      Я соглашаюсь с <%= link_to "документами и правилами" , root_path, :class => "link-in_agreement" %> <br>и понимаю  <%= link_to "политику конфиденциальности" , root_path, :class => "link-in_agreement" %>
    </div>  
  </div> 
</div>
