<nav class="navbar fixed-top bg-white navbar-expand-md">
  <div class="container nav-justified">
      <% if params[:action] == 'show' %>
      <div class="h6">
          <%= link_to(posts_path, class: 'text-primary') do %> 
            <i class="fa fa-long-arrow-left"> Назад в ленту </i>
          <% end %>
      </div>
      <% elsif params[:action] == 'edit' %>
        <div class="h6">
          <%= link_to(user_path(current_user), class: 'text-primary') do %> 
              <i class="fa fa-long-arrow-left"> Назад в профиль </i>
          <% end %>
        </div>
      <% elsif params[:action] == 'new' %>
        <div class="h6">
          <%= link_to(posts_path, class: 'text-primary') do %> 
                <i class="fa fa-long-arrow-left"> Назад </i>
          <% end %>
        </div>
      <% else %>
        <div class="h6">
          <%= link_to(user_path(current_user), class: 'text-primary') do %> 
              <i class="fa fa-long-arrow-left"> 
                Привет, 
                <% if current_user.nickname.nil? %>
                  <%= current_user.phone %>
                <% else %>
                  <%= current_user.nickname.capitalize %>
                <% end %>
              </i>
          <% end %>
        </div>
      <%end %>
      
      <div class="h6 pr-5">
        <% if params[:action] == 'show' %>
          <p class="mt-3"> Профиль </p>
          <% elsif params[:action] == 'edit' %>
          <p class="mt-3"> Настройки </p>
          <% elsif params[:action] == 'new' %>
          <p class="mt-3"> Новый пост</p>
        <%end %>
      </div>
      <% if user_signed_in? %>
        <div class="h6 pl-5">
          <% if params[:action] == 'show' %>
            <%= link_to(edit_user_path(current_user), class: 'text-primary') do %>
              <i class="fa fa-cog" aria-hidden="true"></i>
            <% end %>
          <% elsif params[:action] == 'edit'%>
            <%= link_to(destroy_user_session_path, method: :delete, class: 'navbar-nav') do %>
              <div class="sign-out">
                Выйти <i class="fa fa-sign-out" aria-hidden="true"></i>
              </div>
              <% end %>
          <% elsif params[:action] == 'new' %>
             <% nil %>
          <% else %>
            <i class="fa fa-search text-secondary pr-3" aria-hidden="true"></i>
            <%= link_to 'Написать пост', new_post_path, class: "btn btn-primary btn-md mb-1 gradient " %>
          <% end %>

      <% end %>
    </div>
                
  </div>
</nav>

