<nav class="navbar fixed-top bg-white navbar-expand-md">
  <div class="container nav-justified">
    <% if params[:action] == 'show' && params[:controller] == 'users' %>
      <div class="h6">
          <%= link_to(posts_path, class: 'text-primary') do %> 
            <p class="nav_link pt-4"> <%= show_svg('union.svg') %> <span class="none_for_mobile">Назад в ленту</span> </p>
          <% end %>
      </div>
    <% elsif params[:action] == 'show' && params[:controller] == 'posts' %>
      <div class="h6">
        <%= link_to(posts_path, class: 'text-primary') do %> 
          <p class="nav_link pt-4"><%= show_svg('union.svg') %> Назад </p>
        <% end %>
      </div>
    <% elsif params[:action] == 'edit' && params[:controller] == 'posts' %>
      <div class="h6">
        <%= link_to(user_path(current_user), class: 'text-primary') do %> 
          <p class="nav_link pt-4"><%= show_svg('union.svg') %> Назад в профиль </p>
        <% end %>
      </div>
     <% elsif params[:action] == 'edit' && params[:controller] == 'users' %>
      <div class="h6">
        <%= link_to(user_path(current_user), class: 'text-primary') do %> 
          <p class="nav_link pt-4"><%= show_svg('union.svg') %> Назад к профилю </p>
        <% end %>
      </div>
    <% elsif params[:action] == 'follows' && params[:controller] == 'users' %>
      <div class="h6">
        <%= link_to(user_path(@user), class: 'text-primary') do %> 
          <p class="nav_link pt-4"><%= show_svg('union.svg') %> Назад </p>
        <% end %>
      </div>
    <% elsif params[:action] == 'followers' && params[:controller] == 'users' %>
      <div class="h6">
        <%= link_to(user_path(@user), class: 'text-primary') do %> 
          <p class="nav_link pt-4"><%= show_svg('union.svg') %> Назад </p>
        <% end %>
      </div>
    <% elsif params[:action] == 'new' && params[:controller] == 'posts'%>
      <div class="h6">
        <%= link_to(posts_path, class: 'text-primary') do %> 
          <p class="nav_link pt-4"><%= show_svg('union.svg') %> Назад </p>
        <% end %>
      </div>
    <% else %>
      <div class="h6">
        <%= link_to(user_path(current_user)) do %> 
          <div class="post_section">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class: "photo_mini rounded-circle float-center"%> 
            <% else %>
              <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo_mini rounded-circle float-center") %>
            <% end %>
            <div class="nav_nick pl-1">
              Привет, 
              <% if current_user.nickname.nil? %>
                <%= current_user.phone %>
              <% else %>
                <%= current_user.nickname.capitalize %>!
              <% end %>
            </div>
          </div> 
        <% end %>
      </div>
    <%end %>  
    <div class="h6 pr-1">
      <% if params[:action] == 'show' && params[:controller] == 'users' %>
        <p class="mt-3 pt-2 text-center prifile-navbar"> Профиль </p>
      <% elsif params[:action] == 'edit' && params[:controller] == 'users'%>
        <p class="mt-3 pt-2"> Настройки </p>
      <% elsif params[:action] == 'new' && params[:controller] == 'posts'%>
        <p class="mt-3 pt-2"> Новый пост</p>
      <% elsif params[:action] == 'follows' && params[:controller] == 'users'%>
        <p class="mt-3 pt-2">Подписки</p>
      <% elsif params[:action] == 'followers' && params[:controller] == 'users'%>
        <p class="mt-3 pt-2">Подписчики</p>
      <%end %>
    </div>
    <% if user_signed_in? %>
      <div>
        <% if params[:action] == 'show' && params[:controller] == 'users' && current_user == @user%>
          <%= link_to(edit_user_path(current_user), class: 'text-primary pb-3 h6') do %>
            <%= show_svg('shape.svg') %>
          <% end %>
        <% elsif params[:action] == 'edit' && params[:controller] == 'users'%>
          <%= link_to '#', class: 'navbar-nav h6 pl-1', "data-toggle" => "modal", 'data-target' => '#exampleModalCenter' do %>
            <div class="sign-out">
              Выйти <%= show_svg('logout.svg') %>
            </div>
          <% end %>
        <% elsif params[:action] == 'new' && params[:controller] == 'posts'%>
          <% nil %>
        <% elsif params[:action] == 'index' && params[:controller] == 'posts'%>
          <%= show_svg('search.svg') %>
          <%= link_to 'Написать пост', new_post_path, class: "btn btn-primary btn-md mb-1 ml-1 gradient pl-4 pr-4" %>
        <% else %>
          <% nil %>
        <% end %>
      <% end %>
    </div>            
  </div>
</nav>

