  <% @posts.each do |post| %>
    <section class='container mt-2 mb-2'>
      <div class="card">
        <div>
          <% if current_user.id == post.user.id %>
            <div class="dropdown">
              <button class="dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ...
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to 'изменить', edit_post_path(post), class: "dropdown-item" %>
                <%= link_to 'удалить', post_path(post), method: :delete, class: "dropdown-item", remote: true %>
              </div>
            </div>
          <% end %>
        </div> 
        <div class="card-body">
          <div class="post_section">
            <div class="post_section">
              <div class="position-relative pr-2">
                <div class="active_user_mini pl-2">
                  
                  <div>
                  <% if post.user.online? %>
                      <i class="fa fa-circle text-success"></i>
                      <% else %>
                      <i class="fa fa-circle text-danger"></i>
                    <% end %>
                    <% if post.user.avatar.attached? %>
                      <%= image_tag post.user.avatar, class: "avatar_in_post rounded-circle float-center" %> 
                    <% else %>
                      <%= image_tag("no-foto.png", :alt => "no avatar", class: "avatar_in_post rounded-circle float-center") %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-100">
              <div class="post_section">
                <p class="nickname_text m-0">
                  <%= link_to user_path(post.user), class: "text-body nickname_text" do %>
                    @<%= post.user.nickname %>
                  <% end %>
                </p>
                <p class="time post_writed">
                  <span class="pr-2 pl-2"><%= show_svg('line2.svg') %></span> <%= post.created_at.strftime("%d.%m.%Y, %H:%M") %>
                </p>
              </div>
              <div class="wrap">
                <div class="card-text post_writed text_wrap mt-3"><%= render_with_hashtags(post.description) %> </div>
              </div>
              <div class="border-0 align-self-center mt-2">     
                <% if post.attachment.attached? %>
                  <% if post.attachment.content_type.include?("image") %>
                    <div class="card_body"> <%= image_tag post.attachment, class: "image text-center"  %> </div>
                  <% else %>
                    <%= video_tag url_for(post.attachment), :controls => true , class: "video" %>
                  <% end %>
                <% end %>
              </div>
              <div class="card-body border-0 align-self-center">
                <div class="post_section mobile_post_section">
                  <div class="comments">
                    <%= link_to(post_path(post)) do %>
                      <p class="icon_text text-center">
                        <span class="none-mobile"><%= show_svg('comment.svg') %></span>
                        <span class="none-desktop"><%= show_svg('comment _mobile.svg') %></span>
                        <%= post.comments.count %> <span class="none-mobile">комментариев</span> 
                      </p> 
                    <% end %>            
                  </div>
                  <div class="likes">
                    <%= link_to(likes_toggle_path(post)) do %>
                      <p class="icon_text  text-center"> 
                        <% if post.likes.ids.include?(current_user.id) %>
                          <span class="none-mobile"><%= show_svg('tenge_active.svg') %></span>
                          <span class="none-desktop"><%= show_svg('tenge_acktive_mobile.svg') %></span>
                        <% else %>
                          <span class="none-mobile"><%= show_svg('tenge_grey.svg') %></span>
                          <span class="none-desktop"><%= show_svg('tenge_mobile.svg') %></span>
                        <% end %>
                        <%= post.likes.count %> <span class="none-mobile">лайкбонусов</span>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
              <% if post.comments.any? %>
              <% comment = post.comments.last %>
                <div class="border_on_comment">
                  <div class="post_section">
                    <div class="pr-2">
                      <div class="position-relative">
                        <% if comment.user.avatar.attached? %>
                          <%= image_tag comment.user.avatar, class: "photo_comment rounded-circle float-center" %> 
                        <% else %>
                          <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo_mini rounded-circle float-center") %>
                        <% end %>
                      </div>
                    </div>
                    <div>
                      <div class="post_section">
                        <%= link_to(user_path(post.user)) do %>
                          <p class="nickname_text_comment">
                            @<%= comment.user.nickname %>
                          </p>
                        <% end %>  
                        <p class="time post_writed none-mobile"> | <%= comment.created_at.strftime("%d.%m.%Y, %H:%M") %></p>                      
                        
                      </div>
                      <div class="wrap">
                        <div class="card-text post_writed text_comment text_wrap mt-1"><%= comment.body %> </div>
                        <div class="time post_writed none-desktop"><%= comment.created_at.strftime("%d.%m.%Y, %H:%M") %></div>
                      </div>
                    </div>
                  </div>  
                </div>
              <% end %>  
            </div>
          </div>  
        </div>
        <% if post.comments.any? %>
          <div class="text-center">
            <%= link_to(post_path(post)) do %>
              <p class="all_comments m-0">
                Все комментарии
              </p>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %> 
  <div class="container text-center pb-2 pt-2">
    <div class="text-center pb-1">   
      <%= show_svg('smile.svg') %>
    </div> 
    <p class="smile">Извините, посты кончились. Подпишитесь еще на кого-нибудь</p>
  </div>
</div>

