<div class=""> 
  <section class=''>
    <div class="">
      <div>
        <% if current_user.id == @post.user.id %>
          <div class="dropdown">
            <button class="dropdown-toggle border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'изменить', edit_post_path(@post), class: "dropdown-item" %>
              <%= link_to 'удалить', post_path(@post), method: :delete, class: "dropdown-item", remote: true %>
            </div>
          </div>
        <% end %>
      </div> 
      <div class="card-body">
        <div class="post_section">
          <div class="post_section">
            <div class="position-relative pl-2 pr-2">
              <div class="active_user_mini">
                <div>
                  <% if @post.user.avatar.attached? %>
                    <%= image_tag @post.user.avatar, class: "avatar_in_post rounded-circle float-center" %> 
                  <% else %>
                    <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo rounded-circle float-center") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="post_section"> 
              <%= link_to(user_path(@post.user)) do %>
                <p class="nickname_text mb-1">
                  @<%= @post.user.nickname %>
                </p>
              <% end %>
              <p class="time post_writed">
                <%= show_svg('line2.svg') %> <%= @post.created_at.strftime("%d %m %Y %H : %M") %>
              </p>
            </div>
            <div class="wrap text_wrap">
              <div class="card-text post_writed text_wrap"><%= @post.description %> </div>
            </div>
            <div class="">     
              <% if @post.attachment.attached? %>
                <% if @post.attachment.content_type.include?("image") %>
                  <div class="card_body"> <%= image_tag @post.attachment, class: "image text-center"  %> </div>
                <% else %>
                  <%= video_tag url_for(@post.attachment), :controls => true , class: "video" %>
                <% end %>
              <% end %>
            </div>
            <div class="card-body border-0 pl-2">
            <div class="post_section border_top border-bottom">
              <div class="post_section">
                <p class="icon_text">
                  <%= show_svg('comment.svg') %>
                  <%= @post.comments.count %> комментариев 
                </p>            
              </div>
              <div class="pr-2 pl-2"> 
               <%= show_svg('line.svg') %>
              </div>
              <div class="post_section">
                <%= link_to(likes_toggle_path(@post)) do %>
                  <p class="icon_text"> 
                    <% if @post.likes.ids.include?(current_user.id) %>
                      <%= show_svg('tenge_active.svg') %>
                    <% else %>
                      <%= show_svg('tenge_grey.svg') %>
                    <% end %>
                    <%= @post.likes.count %> лайкбонусов
                  </p>
                <% end %>
              </div>
            </div>
            <div class="comments-container card-body border-light">
              <%= render @post.comments.where(parent_id: [nil, ""]), max_nesting: 1 %>
            </div>
          </div>
          </div>
        </div>    
      </div>
    </div>
  </section> 
  <div class="container nil"></div>
  <div id="comment_form_down" class="container display_flex between fixed-bottom">
    <div class="pt-3 pr-1">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: "photo_mini rounded-circle float-center photo_input" %> 
      <% else %>
        <%= image_tag("no-foto.png", :alt => "no avatar", class: "photo_mini rounded-circle float-center") %>
      <% end %>
    </div>
    <div class="comment_form_width pb-1">
      <div id="listen"></div>
      <%= render partial: "comments/form", locals: {commentable: @post}  %>
    </div>
  </div>
</div>