<!DOCTYPE html>
<html>
  <head>
    <title>TengriSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
     
  <body>
    <% if current_user != nil  && current_user.nickname.present?%>
      <%= render 'layouts/application/navbar' %>
    <% end %>
    <div class="back-navbar"></div>
    <div class='mt-5'>
      <%= yield %>
    </div>
  </body>
</html>
